body{
    background-color: #5E5CC3;
}
.btn-primary {
    margin-left: 5px;
    margin-bottom: 5px;
}

#iniciar {
    margin-top: 5px;
}

.btn{
    color: white;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}
.modal-backdrop {
    --bs-backdrop-zindex: none;
}
.modal-content{
    background-color: #81E7D4;
}
.registrarse{
    margin-bottom: 1px;
}
.juntar{
    display: flex;
    justify-content: center;
}

.card-text{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}
.option-shop{
    text-align: center;
}

.card{
    
    --bs-card-border-width: 0px;
    -webkit-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    -moz-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    border: 1px solid purple;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-top: 5%;
}
.titulo{
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    
}
footer{
    margin-top: 11%;
}
video{
    margin: auto;
    width: 60rem;
    margin-left: 2%;
    box-sizing: border-box;
    margin-top: 10px; 
    box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    
    
    
}
summary{
margin-left: 22.5%;
border: 1px solid black;
box-sizing: border-box;
width: 10%;
background-color: #0b5ed7;
color: white;
height: 30px;
text-align: center;
}




.titulo4{
    float: right;
    margin-right: 10%;
}