body{
    
   background-color:beige;
}



.imagen{
    height: 750px;
    
}



.juntar{
    display: flex;
    
}

.titulo2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    margin-left: 5%;
    text-decoration:underline;
    text-align: left;
}

.modal-backdrop {
    --bs-backdrop-zindex: none;
}

.btn-primary {
    margin-left: 5px;
    margin-bottom: 5px;
}

#iniciar{
    margin-top: 5px;
}

.modal-content{
    background-color: #81E7D4;
}

.registrarse{
    margin-bottom: 1px;
}

.option-shop{
    margin: auto;
}

hr{
    height: 1px;
    
}

.card-text{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}




.btn{
    color: white;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

.card{
    margin: auto;
    --bs-card-border-width: 0px;
    -webkit-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    -moz-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    border: 1px solid purple; 
    
    margin-bottom: 2%;
    max-width: 100%;
    max-height: 100%;
     transition: 1.5s ease;
      -moz-transition: 1.5s ease; /* Firefox */
      -webkit-transition: 1.5s ease; /* Chrome - Safari */
      -o-transition: 1.5s ease; /* Opera */
 }
 .card:hover{
     transform : scale(1.2);
     -moz-transform : scale(1.2); /* Firefox */
     -webkit-transform : scale(1.2); /* Chrome - Safari */
     -o-transform : scale(1.2); /* Opera */
     -ms-transform : scale(1.2); /* IE9 */
 }


.detalles{
    color: white;
    text-decoration: none;
}

.anti-body{
    box-shadow: 6px 0px 30px 5px rgb(16, 15, 15);
    background-color: black;
    margin-top: 64px;
    margin-bottom: 20px;
    
}
.navbar bg-body-tertiary{
    
}


