body{
    
   background-color: #5E5CC3;
}

.titulo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
    text-decoration:underline;
}

.imagen{
    width: 90%;
    padding-left: 10%;
    
}
.card{
    margin: auto;
    --bs-card-border-width: 0px;
    -webkit-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    -moz-box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    border: 1px solid purple;

}


.juntar{
    display: flex;
}

.titulo2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-left: 5%;
    text-decoration:underline;
    text-align: left;
}

.modal-backdrop {
    --bs-backdrop-zindex: none;
}

.btn-primary {
    margin-left: 5px;
    margin-bottom: 5px;
}

#iniciar{
    margin-top: 5px;
}

.modal-content{
    background-color: #81E7D4;
}

.registrarse{
    margin-bottom: 1px;
}

.option-shop{
    text-align: center;
}

hr{
    height: 1px;
    
}

.card-text{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}




.btn{
    color: white;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}

