body{
    background: rgb(120,149,149);
background: -moz-linear-gradient(45deg, rgba(120,149,149,1) 0%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(45deg, rgba(120,149,149,1) 0%, rgba(0,0,0,1) 100%);
background: linear-gradient(45deg, rgba(120,149,149,1) 0%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#789595",endColorstr="#000000",GradientType=1);

}
.btn-primary {
    margin-left: 5px;
    margin-bottom: 5px;
}

#iniciar {
    margin-top: 5px;
}
h1{
    font-family: monospace;
    
}
.btn{
    color: white;
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}
.modal-backdrop {
    --bs-backdrop-zindex: none;
}

.registrarse{
    margin-bottom: 1px;
}
.juntar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-text{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
.option-shop{
    text-align: center;
}
.card-img-top{
   width: 30%;
    
    
}
.card-img-top2{
    width: 100%;
    border: 0px solid black;
    border-radius: 20px;
}


.card2{
    --bs-card-border-width: 0px;
    
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 1%;
   margin-top: 1%;
    max-width: 100%;
   max-height: 100%;
   text-align: center;
   
   background-color: white;
   padding: 15px;

}
.card-body{
    display: flex;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
    border: 3px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
}
.caja-info{
    
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: content-box;
    text-align:center;
    padding: 10px;
    margin-top:30px;
    margin-bottom: 30px;
}
#btn{
    margin-top: 3%;
}
#dinero{
    margin-top: 5px;
}
.card-info{
    margin: auto;
    
    --bs-card-border-width: 0px;
    padding: 15px;  
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 10px;
    max-width: 100%;
   max-height: 100%;
   text-align: center;
   background-color: white;
   
   
}
#text-info{
    padding-top: 10px;
    margin-top: 10%;
}
.card-body{
   background-color: white;
   margin-left: 100px;
   margin-right: 100px;
}

.titulo{
    text-align: center;
    margin-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: azure;
    
}
footer{
    margin-top: 11%;
}
video{
    margin: auto;
    width: 40rem;
    margin-left: 100px;
    box-sizing: border-box;
    margin-top: 10px; 
    box-shadow: 6px 0px 26px 5px rgba(0,0,0,1);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    
    
    
}
summary{
    border: 1px solid;
    border-radius: 20px;
    margin-top: 5px;
margin-left: 18%;
border: 1px solid black;
box-sizing: border-box;
width: 10%;
background-color: #0b5ed7;
color: white;
height: 30px;
text-align: center;
}


.bg-body-tertiary {
    
    margin-left: 100px;
    margin-right: 100px;
}


#footer{
    --bs-bg-opacity: 0;
}


@media only screen and (max-width: 760px) {
    .bg-body-tertiary{
        margin-left: 0px;
        margin-right: 0px;
    }
  }
  @media only screen and (max-width: 760px) {
    .btn-primary{
        margin-left: 0px;
        
    }
  }
  @media only screen and (max-width: 760px) {
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        flex-wrap: nowrap;
        
    }
  }
  @media only screen and (max-width: 760px) {
    .card-body{
        display: block;
        margin: auto;
        margin-top: 100px;
        width: 350px;
    }
}

@media only screen and (max-width: 760px) {
    .card2{
        margin: auto;
        width: 240px;
        margin-bottom: 10px;
        
    }
}

@media only screen and (max-width: 760px) {
    summary{
        margin: auto;
        color: black;
        
    }
}

@media only screen and (max-width: 760px) {
    video{
        width: 350px;
        margin: auto;
        margin-left:74px ;
        
    }
}

html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }
  footer {
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: black
  }